<!DOCTYPE html>
<html>
  <head>
    <title>Splurty</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class="row">
      <div class="col-3">
        <div class = "circle">
          <br />
            YOU CAN
          <br />
            QUOTE ME
          <br />
            ON THAT
        </div>
      </div>
      <div class="col-4 slogan">
        "One musn't believe all that they read on the internet..." <em>-Socrates</em>
      </div>
      <div class="col-5 links">
        <%= link_to 'Contribute', '#' %>
        <%= link_to 'About', '#' %>
      </div>
    </header>

    <hr />

    <br class="clear" />
    <div class="container">
      <%= yield %>
    </div>


    <div class="footer">
      <div class="container">
        <div class="row">
                <div class="col-6 footer-blurb-one">
        <%= link_to "More completely real quotes, please!", "#", class: 'next_quote'%>
      </div>
      <div class="col-6 footer-blurb-two">
        Proudly stapled together by <a href="[YOUR_PORTFOLIO_URL]">Bryce</a><br />
      </div>
        </div>
      </div>
    </div>
  </body>
</html>
